.container {
  /* 1140px */
  max-width: 130rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-image: url('../../assets/images/night_sky.png');
  background-size: cover;
  background-position: center;
}
.content_img {
  width: 100%;
  border-radius: 9px;
}
.img_box {
  position: relative;
}
.img_box::after {
  content: '';
  visibility: hidden;
  width: 30%;
  height: 30%;
  background-image: url(/src/assets/images/tears.png);
  background-size: cover;
  position: absolute;
  left: 125px;
  top: 150px;
}
.img_box:hover:after {
  visibility: visible;
}
.heading_primary {
  text-align: center;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.5px;
  font-size: 5.2rem;
  line-height: 1.05;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 400;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  background-color: rgba(118, 94, 11, 0.79);
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}
.btn:hover {
  background-color: rgba(102, 82, 10, 0.79);
}
.btn a {
  color: #fff;
}
